body {
    height: 100vh; /* Set the height to fill the entire viewport */
    margin: 0;
    background-attachment: local;
    background: linear-gradient(to bottom, 
    #3a7b6f 0%,   /* Start color at the top */
    #54a998 100%  /* End color till the bottom */
    );
}

h3 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 400;  
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
    background-color: transparent;
    display: inline-block; /* Ensure inline-block is set */
}

.shadow {
    position: absolute;
    background-color: rgba(0, 0, 0.0, 0.1);
    height: 1px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.transparent-button {
    background-color: transparent;
    border: none;
    color: inherit; /* Use the text color of the parent element */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    display: inline-block; /* Make button inline */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition effect for hover state */
    margin-left: 20px;
}

@keyframes moveToLeft {
    0% {
        left: 45%;
    }
    100% {
        left: 2.5%;
    }
}

.code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 9pt;
    background-color: #87bdb5; 
    padding: 0.5em;
    /*border-radius: 8px;*/
    color: #000000;
    display: block;
    overflow-x: auto; /* Enable horizontal scrolling if the content overflows */
    overflow-y: auto; /* Enable vertical scrolling if the content overflows */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    min-height: 2.2em;
    max-width: 320px;
    max-height: 128px;
    min-width: 0; /* The div will shrink to fit its content, but not smaller than its content */
    white-space: pre; /* This prevents the content from wrapping to the next line */
    width: fit-content; /* This makes the div size to its content up to its maximum width */
    height: fit-content; /* This makes the div size to its content up to its maximum height */
    position: relative; /* or relative, depending on your layout needs */
    cursor: pointer;
    line-height: 125%;
    transition: max-width 0.3s, max-height 0.3s, background-color 0.3s;
}

.code-expanded {
    max-width: 768px;
    max-height: 768px;
    background-color: #a8c9c4;
}

.code-container {
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    transition: width 0.3s, height 0.3s;
}

.code-title {    
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 9pt;
    background-color: #6aa299;
    color: #000000;
    padding: 0.5em;
    font-weight: 600;
    border-bottom: 1px solid #87bdb5;
}

[contenteditable]:focus {
outline: none;
background-color: #AED2CB; /* light gray */
}

.tag {
    display: inline-block;
    color: #000000;
    background-color: #7aaaa5;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 0px;
    border-radius: 3px;
    margin: 0 0px;
    vertical-align: text-top;
}

.tag-highlight {
    display: inline-block;
    color: #000000;
    background-color: #a7e9dc;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 0px;
    border-radius: 3px;
    margin: 0 0px;
    vertical-align: text-top;
}